.upper-grid{
    display: grid;
    gap: 0rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.posi-nega{
    padding-top: 15px;
    display: grid;
    gap: 0rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding-left: 80px;
    background-color: rgb(33,34,45);
}
.posi{
    width: 80px;
    height: 80px;
    padding: 10px;
    border: 5px solid #e1f3fb;
    margin: 0;
    background-color: rgb(33, 34, 45);
    padding-left: 35px;
}
.posi h5{
    font-weight: bolder;
    font-size: 15px;
}
.nega{
    width: 80px;
    height: 80px;
    padding: 10px;
    border: 5px solid #e1f3fb;
    margin: 0;
    background-color: rgb(33, 34, 45);
    padding-left: 35px;
    text-align: center;
}
.nega h5{
    font-weight: bolder;
    font-size: 15px;
}
.reviews {
    width: 390px;
    height: 325px;
    padding-top: 5px;
    border: 5px solid #e1f3fb;
    text-align: center;
    margin: 0;
    background-color: rgb(33, 34, 45);
  }
.rating {
    width: 390px;
    height: 325px;
    padding-top: 5px;
    text-align: center;
    border: 5px solid #e1f3fb;
    margin: 0;
    background-color: rgb(33, 34, 45);
}
.analysis {
    width: 390px;
    height: 325px;
    padding-top: 15px;
    text-align: center;
    border: 5px solid #e1f3fb;
    margin: 0;
    background-color:rgb(33, 34, 45);
  }
.lower-grid{
    display: grid;
    gap: 0rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.visitors {
    width: 1190px;
    height: 360px;
    padding: 10px;
    border: 5px solid #e1f3fb;
    text-align: center;
    margin-top: 25px;
    background-color: rgb(33, 34, 45);
  }
  h1{
      font-size: 33px;
      font-weight: bolder;
  }
  h2{
      font-size: 33px;
      font-weight: bolder;
  }
  h4{
      font-size: 20px;
      font-weight: bolder;
  }
  p{
      font-size: 15px;
  }

.reviews h1{
    background-color:rgb(33, 34, 45);
}
.card,.card p,h2{
    background-color: rgb(33,34,45);
}
.reviews p {
    background-color: rgb(33,34,45);
}
.posi-rev h4,.neu-rev h4,.nega-rev h4{
    background-color: rgb(33,34,45);
}