* {
    box-sizing: border-box;
    background-color: rgb(61, 70, 83);
  }
  
  /* Create two equal columns that floats next to each other */
  .column-1 {
    float: left;
    width: 20%;
    padding: 10px;
    height: 460px; /* Should be removed. Only for demonstration */
  }
  .side-bar {
  
    gap: 0rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    position: fixed;
  }
  #row-1 {
    padding-bottom:45px;
   
  }
  #row-2 {
    padding-bottom:25px;
   
    font-family: sans-serif; 
    font-size: xx-small;
  }
  #row-3 {
    font-size: xx-small;
    padding-bottom:25px;
    
    font-family: sans-serif; 
  }
  #row-4 {
    font-size: xx-small;
    padding-bottom:25px;
    
    font-family: sans-serif; 
  }
  #row-5 {
    font-size: xx-small;
    padding-bottom:25px;
   
    font-family: sans-serif; 
  }
  #row-6 {
    font-size: xx-small;
    padding-bottom:25px;
    
    font-family: sans-serif; 
  }
  #row-7{
    font-size: xx-small;
    font-family: sans-serif; 
    color:black;
  }
  a {
    text-decoration: none;
    color:black;
  }
a.current {
  color:aliceblue;
}
a:hover {
  color:rgb(240, 112, 112);
}
  .column-2 {
    float: left;
    width: 80%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }